@font-face {
  font-family: "brandon-grotesque";
  src: url("../../static/fonts/Coves\ Light.otf");
}


@font-face {
  font-family: "Times New Roman";
  src: url("../../static/fonts/times-new-roman.ttf");
}

html,body{margin:0;padding:0}